<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some...</title>
  </head>
  <body>
    <ul>
      <% @items.each do |item| %>
      <li><%= item %></li>
      <% end %>
    </ul>
  </body>
</html>
